{% extends 'main/base.html' %}
{% load staticfiles %}
{% block content %}
<img src="{% static 'main/img/dragon.jpg' %}" alt="dragon">
<h2>西方龍的傳說起源 》》</h2>
<p>在《聖經、創世紀》第三章中，蛇在伊甸園中扮演了一個啟蒙者的角色，他引誘亞當和夏娃吃下智慧之果，
從而得到了人類賴以進步發展、不斷進化的“智慧”，懂得了善惡羞恥等等情愫——換句話說就是終於能夠開眼看世界。
這令計畫永遠把人類當寵物養著玩的上帝震怒。他判決人類和爬蟲類要做永遠的敵人，
蛇這位撒旦的使者就必需要永遠用腹部行走，而女人則要承擔生孩子的巨大痛苦；
最後蛇和女人成為永遠互相仇視的對象。【西方的龍的形象大體上相當於爬行動物和鳥類的混合體，所以蛇是它的一個起源。
而且西方的龍往往是邪惡的代表。】<p>
<p>公元前3000多年前的古埃及“死亡之書”（實際上不是一本真正的書，它是一卷寫滿了大約200章咒語的紙莎草紙，
用來放在棺材內以協助死者靈魂可順利存活於死後的世界）中噴火龍是最常出現的怪物之一，有些長了翅膀，有些長了腳。
這些噴火龍通常象徵著重生，因為它們會脫皮（這又與蛇有很大的關聯）。隨著古埃及被古羅馬征服，
噴火龍的形象也滲透到西方神話中——這就是西方的龍之所以會噴火的最早淵源。</p>
{% endblock %}